.nav1{
    background-color: aqua;
}

.nav2{
    background-color: blue;
    margin: 0px;
}
.text1{
    color: white;
}
.div2{
    background-color: cornflowerblue;
    text-align: center;
    color: white; 
    height: 200px;
    padding: 50px 30px;
    margin-bottom: 50px;
}
.div3{
    margin-bottom: 50px;
}
.div4{
    margin-bottom: 50px;
}.div5{
    margin-bottom: 50px;
}
.container{

}
/* .card{

        border: none;
        border-radius: 10px;
        box-shadow: 5px 5px 10px lightgray;
    
} */